
<mat-toolbar color="primary">
    <mat-toolbar-row >
        <a href="/products" mat-button >Products</a>
        <a href="/cart" mat-button>Cart</a>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Cart">
        <mat-icon>shopping_cart</mat-icon>
          </button>
        
    </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
    <h5>Amazing Animal Paintings</h5>
    <h6>Make your Home Beautiful by our unique artwork</h6>
</div>

<router-outlet></router-outlet>